:root{
    --color-1: #BECAE6;
    --color-2: #219EBC;
    --color-3: #023047;
    --color-4: #FFB703;
    --color-5: #FB8500;
}

.color1{
    background-color: var(--color-1);
}

.color2{
    background-color: var(--color-2);
}

.color3{
    background-color: var(--color-3);
}

.color4{
    background-color: var(--color-4);
}

.color5{
    background-color: var(--color-5);
}

#penjurusan button:focus{
    background-color: var(--color-2);
}


.subject-bg{
    background-color: var(--color-3);
    border: 5px solid black;
    border-radius: 5%;
    position: relative;
    display: block;
}

.subject-front{
    border-radius: 25% 75% 25% 75% / 0% 100% 0% 100%;
    background-color: white;
    border: 0 solid transparent;
    width: 180px;
    height: 180px;
    position: absolute;
    top: 0;
    left: 0;
}

#penjurusan button:focus{
background-color: var(--color-2);
}

#penjurusan button:active{
background-color: var(--color-2);
}

.plan{
    width: 14rem;
}

.container {
background-color: #ffffff;
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
}

.container .overlap {
position: absolute;
width: 640px;
height: 832px;
top: 0;
left: 0;
}

.container .frame {
position: absolute;
width: 640px;
height: 832px;
top: 0;
left: 0;
background-color: var(--color-4);
opacity: 0.5;
}

.container .image {
position: absolute;
width: 500px;
height: 346px;
top: 193px;
left: 70px;
object-fit: cover;
}

.container .text-wrapper {
position: absolute;
top: 535px;
left: 160px;
font-family: "Inter-Bold", Helvetica;
font-weight: 700;
color: var(--color-3);
font-size: 30px;
text-align: center;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.container .p {
position: absolute;
width: 511px;
top: 591px;
left: 64px;
font-family: "Inter-SemiBold", Helvetica;
font-weight: 600;
color: var(--color-3);
font-size: 20px;
text-align: center;
letter-spacing: 0;
line-height: normal;
}

.container .overlap-group {
position: absolute;
width: 640px;
height: 832px;
top: 0;
left: 640px;
background-color: #ffffff;
}

.container .by-clicking-register {
position: absolute;
width: 390px;
top: 730px;
left: 80px;
font-family: "Inter-Regular", Helvetica;
font-weight: 400;
color: transparent;
font-size: 18px;
text-align: justify;
letter-spacing: 0;
line-height: normal;
}

.container .span {
color: var(--color-3);
}

.container .text-wrapper-2 {
color: var(--color-5);
}

.container .group {
position: absolute;
width: 482px;
height: 74px;
top: 182px;
left: 80px;
}

.container .text-wrapper-3 {
position: absolute;
top: 0;
left: 0;
font-family: "Inter-SemiBold", Helvetica;
font-weight: 600;
color: var(--color-3);
font-size: 20px;
text-align: center;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.container .form-control {
position: absolute;
width: 480px;
height: 50px;
top: 24px;
left: 0;
border-radius: 20px;
border: 2px solid;
border-color: #dddddd;
}

.container .group-2 {
position: absolute;
width: 480px;
height: 74px;
top: 276px;
left: 80px;
}

.container .text-wrapper-4 {
position: absolute;
top: 0;
left: 0;
font-family: "Inter-SemiBold", Helvetica;
font-weight: 600;
color: var(--color-3);
font-size: 20px;
letter-spacing: 0;
line-height: normal;
white-space: nowrap;
}

.container .group-3 {
position: absolute;
width: 480px;
height: 74px;
top: 370px;
left: 80px;
}

.container .group-4 {
position: absolute;
width: 480px;
height: 74px;
top: 464px;
left: 80px;
}

.container .overlap-group-wrapper {
position: absolute;
width: 480px;
height: 50px;
top: 578px;
left: 80px;
}

.container .btn-wrapper {
position: relative;
width: 480px;
height: 74px;
background-color: var(--color-3);
border-radius: 20px;
}

.container .text-wrapper-5 {
    position: relative;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.container .overlap-wrapper {
position: absolute;
width: 140px;
height: 122px;
top: 40px;
left: 250px;
}

.container .logo {
    position: absolute;
    width: 97px;
    height: 106px;
    top: 0;
    left: 20px;
    object-fit: cover;
}

.container .text-wrapper-6 {
    position: absolute;
    top: 95px;
    left: 15px;
    font-family: "Birthstone-Regular", Helvetica;
    font-weight: 400;
    color: var(--color-3);
    font-size: 20px;
    text-align: left;
    letter-spacing: 0;
    line-height: normal;
}

.container .have-an-account {
    position: absolute;
    width: 390px;
    top: 668px;
    left: 80px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: var(--color-3);
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
}

.container .by-clicking-login {
    position: absolute;
    width: 390px;
    top: 522px;
    left: 80px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
}

.container .text-wrapper-7 {
    color: var(--color-5);
}

.container .overlap-group-wrapper-2 {
    position: absolute;
    width: 480px;
    height: 50px;
    top: 390px;
    left: 80px;
}

.container .btn-wrapper-2 {
    position: relative;
    width: 480px;
    height: 50px;
    background-color: var(--color-3);
    border-radius: 20px;
}

.container .text-wrapper-8 {
    position: absolute;
    width: 480px;
    left: 0;
    top: 14px;
    font-family: "Inter-Semibold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.container .dont-have-an-account {
    position: absolute;
    width: 390px;
    top: 460px;
    left: 80px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: var(--color-3);
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
}
